<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-sm btn-dark btn-lg" routerLink="/create-empleados">Agregar</button>
            </div>
            <h5 style="margin-top: 20px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped mt-4">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let empleado of empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellidos}}</td>
                        <td>{{empleado.documento}}</td>
                        <td>{{empleado.salario | currency}}</td>
                        <td>
                            <i [routerLink]="['/edit-empleados/', empleado.id]" class="fa-solid fa-lg fa-edit text-warning marginRight"></i>
                            <i (click)="eliminarEmpleado(empleado.id)" class="fa-solid fa-lg fa-trash text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
